*{margin:0;padding:0}
li {list-style: outside none none;}
a{text-decoration:none;}
.clear {clear: both; font-size: 0; height: 0; line-height: 0;overflow: hidden;}
img {border: medium none;}
.wrapper{width:980px;margin:0 auto;}
.vspace{height:10px; clear: both;font-size: 0;line-height: 0;overflow: hidden;}

body{background:url(../img/banner-bg.jpg) no-repeat center 80px/1980px 525px #ccc;}
.header{}
.header .nav{background: #522a5c;height:80px;position: relative;}
.header .nav .logo{float: left;position: absolute;bottom: 5px;font:bold 24px/28px '宋体';color: #fff;}
.header .nav ul{float: right;margin-top: 50px;}
.header .nav ul li{font: 14px/28px '宋体';color: #fff;float: left;margin-left: 28px;}
.header .nav ul li a{}
.header .nav .icon{float: right;background:url(../img/icon-github.png) no-repeat center bottom transparent;height:34px;width: 30px;position: absolute;bottom: 0px;right: 10px; }

.header .banner{height:525px;position: relative;width:980px;margin:0 auto;}
.header .banner .text{background: #fff;padding: 10px 10px 30px 10px;position:absolute;bottom: 0px;right: 0px;width: 360px;opacity:0.7;}
.header .banner .text h3{font: 14px/32px '宋体';float: right;}
.header .banner .text p{font: 12px/150% '宋体';float: left;}

.body .pics{padding-top:10px;}
.body .pics ul{}
.body .pics ul li{float: left;width:300px;padding:10px;margin-right: 10px;background: #fff;height: 340px;overflow: hidden;}
.body .pics ul li:last-child{margin-right: 0px;}
.body .pics ul li p{width: 300px;padding: 5px 0px;text-indent: 2em;font: 12px/150% "宋体";}

.myinfo{position: relative;background: #fff;padding:160px 0;}
.myinfo .hd{position: absolute;border-radius: 80px;top:-40px;left:0px;right:0px;overflow: hidden;margin: auto;width: 160px;}

.myinfo .bd{margin:0 auto;width: 600px;}
.myinfo .bd h3{text-align: center;margin-bottom: 30px;font: 20px/28px '宋体';}
.myinfo .bd p{text-indent: 2em;font: 14px/28px '宋体';}

.footer{background: #000;}
.footer .hd{border-bottom: 1px solid #333;height: 35px;}
.footer .hd ul{width: 228px; margin: 0 auto;}
.footer .hd ul li{font: 14px/36px '宋体';color: #fff;margin-left: 28px;float: left;}
.footer .hd ul li a{}

.footer .bd{width: 980px; margin: 0 auto; }
.footer .bd dl{color: #fff;width: 200px;float: left;font: 14px/28px '宋体';}
.footer .bd dl:nth-child(5) {width: 180px;}
.footer .bd dl dt{line-height: 110px;}
.footer .bd dl dd{}
.footer .bd dl dd a{color: #fff;}
.footer .bd dl dd a:hover{text-decoration:underline;}

.footer .fd{width: 56px; margin: 0 auto;margin-top: 80px;}
.footer .fd span{font: 14px/36px '宋体';color: #fff;margin-bottom: 10px;}
.footer .fd img{width: 30px; margin: 0 auto;display: block;}

/*blog css*/
.body .main{width:710px;float:left;}
.body .main .article{background: #fff;position: relative;padding: 20px;margin-bottom: 10px;}
.body .main .article .type{position: absolute;top:20px;left:-50px;}
.body .main .article .type .date{color: #fff;width: 50px;font: 14px/36px '宋体';background: #522a5c;text-align: center;}
.body .main .article .type .tip{color: #fff;width: 50px;font: 14px/36px '宋体';background: #a660b7;text-align: center;}
.body .main .article .text .title h3{color: #a660b7;font:bold 16px/28px '宋体';}
.body .main .article .text .subtitle h4{color: #666;font:bold 12px/18px '宋体';}
.body .main .article .text .content p{color: #000;font: 12px/18px '宋体';text-indent: 2em;padding-top: 10px;}
.body .main .article .text .source{float: right;color: #999;font: 12px/18px '宋体';margin-top: 30px;}
.body .main .page{width: 670px; margin:  0 auto;margin-bottom: 20px;}
.body .main .page a{width: 40px;height: 40px; margin-left: 10px;text-align: center;background: #fff;display: inline-block;line-height: 40px;}
.body .main .page .first{width: 80px;}
.body .main .page .prev{width: 80px;}
.body .main .page .cur{background: #a660b7;color: #fff;}
.body .main .page .next{width: 80px;}
.body .main .page .end{width: 80px;}

.body .right{width:260px;float:left;margin-left: 10px;}
.body .right .search{padding:10px;background: #fff;}
.body .right .search .input{padding-left:10px;background: #fff;font:26px '宋体';border: 1px solid #ddd;height: 38px;width: 185px;}
.body .right .search .button{background: #ddd;font:bold 26px '宋体';color: #fff;border: none;height: 40px;text-align:center;width: 40px;}

.body .right .list{background: #fff;}
.body .right .list ul{}
.body .right .list ul li{border-top: 1px solid #ccc;height:40px;background: #dfc6e6;padding-left: 5px;}
.body .right .list ul li:hover{background: #522a5c;}
.body .right .list ul li a{background: #fff;height:40px; font: 14px/40px '宋体';padding-left: 20px;color:#666;display: block;width:235px;}

.body .right .date{background: #fff;padding: 20px;}
.body .right .date .getyear {height: 22px;line-height: 22px;text-align: center;width: 100%;color:#773c88;}
.body .right .date .getyear select{color:#773c88;font-weight:bold;}
.body .right .date .getyear .preMonth{font-size:16px;font-weight:bold;float: left;}
.body .right .date .getyear .nextMonth{font-size:16px;font-weight:bold;float: right;}
.body .right .date .tablebg{}
.body .right .date .tablebg table{border-collapse: collapse;}
.body .right .date .tablebg tr{border-bottom: 1px solid #ddd;}
.body .right .date .tablebg tr th{width: 30px;height: 30px;text-align: center;font:bold 14px/30px '宋体';color:#666; }
.body .right .date .tablebg tr td{width: 30px;height: 30px;text-align: center;font:14px/30px '宋体';color:#666;}

.body .right .tigs{padding: 15px;background: #fff;}
.body .right .tigs .tig_hd{font:16px/20px '宋体';color:#666;}
.body .right .tigs .tig_bd{margin-top: 10px;}
.body .right .tigs .tig_bd a{color:#773c88;}
.body .right .tigs .tig_bd a.big{font-size: 28px;font-weight: bold;}
.body .right .tigs .tig_bd a.mid{font-size: 16px;font-weight: bold;}
.body .right .tigs .tig_bd a.small{font-size: 14px;font-weight: normal;}

/*gallery css*/
.gallery_body{}
.gallery_body .main{width:710px;float:left;}
.gallery_body .main .tab_li{}
.gallery_body .main .tab_li ul{}
.gallery_body .main .tab_li ul li{height:50px;font:18px/50px '宋体';text-align: center;padding-top:5px;border-right: 1px solid #eee;border-bottom: 1px solid #eee;float: left;}
.gallery_body .main .tab_li ul li:nth-child(1){background:#522a5c;}
.gallery_body .main .tab_li ul li:nth-child(2){background:#dfc6e6;}
.gallery_body .main .tab_li ul li:nth-child(3){background:#d2a6ff;}
.gallery_body .main .tab_li ul li:nth-child(4){background:#ffa98c;}
.gallery_body .main .tab_li ul li:nth-child(5){background:#ffe188;}
.gallery_body .main .tab_li ul li a{height:50px;display: block;color:#000;padding: 0 15px;background: #fff;}
.gallery_body .main .tab_contents{background: #fff;padding:15px 20px 20px 20px;}
.gallery_body .main  .more{width: 710px;margin: 0 auto;text-align: center;height: 50px;background: #fff;margin-top: 10px;margin-bottom: 20px;}
.gallery_body .main  .more a{font:16px/50px '宋体';color: #666;width: 100px;margin: 0 auto;text-align: center;height: 50px;display: block;}
.gallery_body .main .tab_content{}
.gallery_body .main .tab_content  .text{background: #522a5c;color: #fff;margin: 0 10px 10px 0;width: 160px;}
.gallery_body .main .tab_content  .text .icon{font:16px/30px '宋体';float: left;margin:10px 2px 10px 10px;width: 30px;height: 30px;border: 1px solid #fff;border-radius: 15px;text-align: center;display: inline-block;}

.gallery_body .main .tab_content  .text .title{float: left;padding:10px;width:95px;}
.gallery_body .main .tab_content  .text h3{font:16px/32px '宋体';}
.gallery_body .main .tab_content  .text p{font:14px/24px '宋体';}

.gallery_body .main .tab_content .left{width: 340px;float: left;}
.gallery_body .main .tab_content .left .top{width: 340px;}
.gallery_body .main .tab_content .left .top .text{width: 330px;}
.gallery_body .main .tab_content .left .top .text .title{width:258px;}

.gallery_body .main .tab_content .left .l{width: 170px;float: left;}
.gallery_body .main .tab_content .left .l .text{background: #d9a300;}

.gallery_body .main .tab_content .left .r{width: 170px;float: left;}
.gallery_body .main .tab_content .left .r .text{background: #8c2300;}

.gallery_body .main .tab_content .mid{width: 170px;float: left;}
.gallery_body .main .tab_content .right{width: 160px;float: left;margin-left: 0px;}
.gallery_body .main .tab_content .right .text{margin: 0 0 10px 0;}

.gallery_body .right{width:260px;float:left;margin-left: 10px;}

.gallery_body .right{width:260px;float:left;margin-left: 10px;}
.gallery_body .right .search{padding:10px;background: #fff;}
.gallery_body .right .search .input{padding-left:10px;background: #fff;font:26px '宋体';border: 1px solid #ddd;height: 38px;width: 185px;}
.gallery_body .right .search .button{background: #ddd;font:bold 26px '宋体';color: #fff;border: none;height: 40px;text-align:center;width: 40px;}

.gallery_body .right .paihang{background: #fff;padding: 15px;}
.gallery_body .right .paihang .hd{color: #666;font: 16px/20px "宋体";}
.gallery_body .right .paihang ul{color: #666;font: 16px/16px "宋体";margin-top: 25px;}
.gallery_body .right .paihang ul li{margin-bottom: 10px;}
.gallery_body .right .paihang ul li .num{border-radius: 8px;border: 1px solid #522a5c;text-align: center;color: #fff;width: 16px;background: #522a5c;float: left;}
.gallery_body .right .paihang ul li .votes{border: 1px solid #522a5c;width: 100px;height: 18px;float: left;margin-left: 15px;}
.gallery_body .right .paihang ul li .votes .votes_num{height: 18px;background:#522a5c;}
.gallery_body .right .paihang ul li .title{float: left;margin-left: 15px;color: #000;}

/*about css*/
.about_body {background: #eee;}
.about_body .myinfo{position: relative;background: #fff;padding:160px 0;width: 980px;margin: 0 auto;}
.about_body .myinfo .midline{width: 5px;height: 100%;top: 0;left: 0;right: 0;margin: 0 auto;background: #eee;position: absolute;}
.about_body .myinfo .hd{position: absolute;border:10px solid #eee;border-radius: 85px;top:-70px;left:0px;right:0px;overflow: hidden;margin: auto;width: 160px;}

.about_body .myinfo .bd ul li{position: relative;margin:0 0 30px 0;height:110px;}
.about_body .myinfo .bd ul li .image{position: absolute;border:5px solid #eee;border-radius: 55px;top:0px;left:0px;right:0px;overflow: hidden;margin: auto;width: 100px;}

.about_body .myinfo .bd ul li .text{}
.about_body .myinfo .bd ul li .text .ll{position: absolute;width: 70px;left:320px;font:bold 16px/20px "宋体";}
.about_body .myinfo .bd ul li .text .mm{font: 14px/22px "宋体";color:#666;background:#fff;position: absolute;width:60px;text-align:center;border:5px solid #eee;border-radius: 10px;top:0px;left:0px;right:0px;overflow: hidden;margin: auto;}
.about_body .myinfo .bd ul li .text .rr{position: absolute;width: 270px;left:600px;}
.about_body .myinfo .bd ul li .text .rr h4{font: 16px "宋体";}
.about_body .myinfo .bd ul li .text .rr p{text-indent: 0;font: 14px "宋体";}
.about_body .myinfo .bd ul li.hasmm{height:60px;}
.about_body .myinfo .bd{margin:0 auto;width: 980px;}